<a href="https://colab.research.google.com/github/marcos-code/Analises/blob/main/Carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Dicionario Dataset**

. Car_name - Nome do carro

. Year - Ano

. Selling_Price - preço de venda

. Present Price - Preço presente

. Kms_ Driven - KM rodados

. Fuel_type - Tipo de combustivel

. Seller Typer - Tipo de vendedor

. Transmission - Transmissão

. Owner - Proprietário

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/Arjya1999/car-selling-price-prediction/master/car%20data.csv')
df.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [14]:
# Dados das colunas 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [17]:
# Mostrando quantas linhas e colunas o arquivo possui (linhas, colunas)
df.shape

(301, 9)

In [20]:
df.count()

Car_Name         301
Year             301
Selling_Price    301
Present_Price    301
Kms_Driven       301
Fuel_Type        301
Seller_Type      301
Transmission     301
Owner            301
dtype: int64

In [18]:
# Mostra a media matematica das colunas
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [19]:
#Verificar se tem dados faltantes
df.isnull()

     Car_Name   Year  Selling_Price  ...  Seller_Type  Transmission  Owner
0       False  False          False  ...        False         False  False
1       False  False          False  ...        False         False  False
2       False  False          False  ...        False         False  False
3       False  False          False  ...        False         False  False
4       False  False          False  ...        False         False  False
..        ...    ...            ...  ...          ...           ...    ...
296     False  False          False  ...        False         False  False
297     False  False          False  ...        False         False  False
298     False  False          False  ...        False         False  False
299     False  False          False  ...        False         False  False
300     False  False          False  ...        False         False  False

[301 rows x 9 columns]

In [21]:
df['Car_Name'].value_counts()

city                26
corolla altis       16
verna               14
fortuner            11
brio                10
                    ..
vitara brezza        1
corolla              1
s cross              1
Honda CB Trigger     1
baleno               1
Name: Car_Name, Length: 98, dtype: int64

In [27]:
# Qual o carro mais caro?
df[df['Present_Price'] == df['Present_Price'].max()]

        Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
86  land cruiser  2010           35.0  ...       Dealer        Manual     0

[1 rows x 9 columns]

In [28]:
# Qual o carro mais barato? 
df[df['Present_Price'] == df['Present_Price'].min()]

          Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
195  Bajaj  ct 100  2015           0.18  ...   Individual        Manual     0

[1 rows x 9 columns]

In [33]:
# Mostrar os carros mais caros

df.loc[df.groupby('Car_Name')['Present_Price'].idxmax()]

              Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
37                 800  2003           0.35  ...   Individual        Manual     0
165          Activa 3g  2016           0.45  ...   Individual     Automatic     0
173          Activa 4g  2017           0.40  ...   Individual     Automatic     0
195      Bajaj  ct 100  2015           0.18  ...   Individual        Manual     0
127  Bajaj Avenger 150  2016           0.75  ...   Individual        Manual     0
..                 ...   ...            ...  ...          ...           ...   ...
1                  sx4  2013           4.75  ...       Dealer        Manual     0
215              verna  2012           4.50  ...       Dealer        Manual     0
5        vitara brezza  2018           9.25  ...       Dealer        Manual     0
18             wagon r  2015           3.25  ...       Dealer        Manual     0
206              xcent  2017           5.75  ...       Dealer        Manual     0

[98 rows x 9 columns]

In [47]:
# Mostrar tipos de combustivel
print(df['Fuel_Type'].unique())

['Petrol' 'Diesel' 'CNG']

In [49]:
# Tipos de cambio
print(df['Transmission'].unique())

['Manual' 'Automatic']