<a href="https://colab.research.google.com/github/marcos-code/Analises/blob/main/Escolas_inteligente.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Anáilse dos dados do site escola inteligente**

São dados do INEP disponibilizados por meio de API

Link -> http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on

In [1]:
# Importando as Bibliotecas
import pandas as pd
import requests

In [3]:
# URL de acesso da API

url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on'

# Requisitando os dados da API

resposta = requests.get(url)

# Criando DataFrame , retornando na posição 1
df = pd.DataFrame(resposta.json()[1])

# Primeiras linhas
df.head()

   anoCenso       cod  ... situacaoFuncionamentoTxt  dependenciaAdministrativaTxt
0      2013  41036026  ...             Em atividade                     Municipal
1      2013  15008258  ...             Em atividade                     Municipal
2      2013  15534340  ...             Em atividade                     Municipal
3      2013  15525821  ...             Em atividade                     Municipal
4      2013  15022790  ...             Em atividade                     Municipal

[5 rows x 14 columns]

In [5]:
# Qual o tamanho do DataFrame (linhas, colunas)

df.shape

(100, 14)

In [7]:
# Em quais estados estão essas escolas?
df['estado'].value_counts()

PA    99
PR     1
Name: estado, dtype: int64

In [9]:
# São todas escolas municipais?

df['dependenciaAdministrativaTxt'].value_counts()

Municipal    100
Name: dependenciaAdministrativaTxt, dtype: int64